<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data e hor&aacute;rio - Gerente</title>
    <link rel="icon" type="image/png" href="../assets/logo/logo-redrun.png">
    <link rel="apple-touch-icon" href="../assets/logo/logo-redrun.png">
    <link rel="stylesheet" href="../css/global.css">
    <script src="/js/tema.js"></script>
    <link rel="stylesheet" href="../css/equipe.css">
    <link rel="stylesheet" href="../css/gerente-data-horario.css">
</head>
<body>
    <div class="barra-gradiente"></div>

    <a href="index.html" class="cancelar">
        <img src="../assets/competição/Seta.svg" alt="">
        Cancelar
    </a>

    <main>
        <aside class="etapas">
            <h3>Etapas</h3>

            <div class="etapa">
                <span>1</span>
                <p>Local</p>
            </div>

            <div class="etapa ativa">
                <span>2</span>
                <p>Data e hora</p>
            </div>

            <div class="etapa">
                <span>3</span>
                <p>Equipes</p>
            </div>
        </aside>

        <section class="conteudo conteudo-data-horario">
            <div class="formulario-data-horario">
                <h2>Defina uma data e um hor&aacute;rio</h2>

                <div class="campos-data-horario">
                    <label class="grupo-data-horario" for="dataCompeticao">
                        <span>Data</span>
                        <div class="campo-data-horario">
                            <input id="dataCompeticao" name="dataCompeticao" type="date" value="2026-05-27">
                        </div>
                    </label>

                    <label class="grupo-data-horario" for="horarioCompeticao">
                        <span>Hor&aacute;rio</span>
                        <div class="campo-data-horario">
                            <input id="horarioCompeticao" name="horarioCompeticao" type="time" value="15:00" step="1">
                        </div>
                    </label>
                </div>
            </div>

            <div class="botoes botoes-data-horario">
                <button class="btn-voltar" type="button" onclick="window.location.href='gerente-localidade.html'">
                    Anterior
                </button>

                <button class="btn-proximo btn-proximo-data" type="button">
                    Pr&oacute;ximo
                </button>
            </div>
        </section>
    </main>

    <script src="../js/gerente-data-horario.js"></script>
</body>
</html>
