<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auditor</title>
    <link rel="stylesheet" href="../css/home-auditor.css">
    <link rel="stylesheet" href="../css/global.css">
    <script type="module" src="../js/home.js"></script>
</head>
<body>
    <header>
        <img src="../assets/logo-RB24h/logo.png" alt="">
    </header>
   <main>
    <section class="Bem-vindo">
            <h1>Seja bem-vindo!</h1>
            <span>Pronto para criar aasas?</span>
            <button onclick="window.location.href='/competition'"><img src="../assets/Home-Auditor/Vector.svg" alt=""><strong>Iniciar Auditoria</strong></button>
    </section>
    <section class="Histórico">
        <div class="historico-titulo">
            <h2>Histórico de competições</h2>
            <a href="#">Ver tudo</a>
        </div>

        <div class="cards">
            <article class="card rio"><h3>Red Bull 24h<br>Rio de Janeiro</h3></article>
            <article class="card sp"><h3>Red Bull 24h<br>São Paulo</h3></article>
            <article class="card recife"><h3>Red Bull 24h<br>Recife</h3></article>
            <article class="card bh"><h3>Red Bull 24h<br>Belo Horizonte</h3></article>
            <article class="card poa"><h3>Red Bull 24h<br>Porto Alegre</h3></article>
        </div>
    </section>
   </main>
</body>
</html>