<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do atleta</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/equipe.css">
    <link rel="stylesheet" href="../css/informacoes-atleta.css">
</head>
<body>
    <div class="barra-gradiente"></div>

    <a href="equipe.html?passo=2" class="cancelar">
        <img src="../assets/competição/Seta.svg" alt="">
        Cancelar
    </a>

    <main>
        <aside class="etapas">
            <h3>Etapas</h3>
            <div class="etapa"><span>1</span><p>Local</p></div>
            <div class="etapa"><span>2</span><p>Data e hora</p></div>
            <div class="etapa ativa"><span>3</span><p>Equipes</p></div>
        </aside>

        <section class="conteudo-atleta">
            <span class="subetapa-atleta">Cadastro de atleta</span>
            <h1>Informações do atleta</h1>

            <form id="formAtleta">
                <label>Nome:<input id="nomeAtleta" type="text" required></label>
                <label class="campo-data-atleta">Data de nascimento:<input id="nascimentoAtleta" type="date" required></label>
                <label>CPF:<input id="cpfAtleta" type="text" required></label>

                <div class="seletores-atleta">
                    <select id="generoAtleta" required>
                        <option value="">Gênero:</option>
                        <option>Feminino</option>
                        <option>Masculino</option>
                        <option>Outro</option>
                    </select>

                    <select id="cargoAtleta" required>
                        <option value="">Cargo:</option>
                        <option>Atleta</option>
                        <option>Líder</option>
                    </select>
                </div>

                <button type="submit">Concluir</button>
            </form>
        </section>
    </main>

    <script src="../js/informacoes-atleta.js"></script>
</body>
</html>
