# Banco de Dados (Supabase)
DATABASE_URL=postgresql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
DATABASE_KEY=SUA_CHAVE_AQUI
DATABASE_PORT=6543
DATABASE_USER=postgres.SEU_PROJECT_REF
DATABASE_NAME=postgres

# Servidor
SERVER_PORT=3000