/* ---------------- MAIN ---------------- */

main{
    display: flex;
    gap: 80px;
    margin-top: 50px;
}

/* ---------------- ETAPA ATIVA ---------------- */

.etapa.ativa span{
    background-color: #D2003C;
    color: white;
}

/* ---------------- CONTEUDO ---------------- */

.conteudo{
    width: 700px;
}

.conteudo h2{
    font-size: 35px;
    margin-bottom: 30px;
}

/* ---------------- LISTA ---------------- */

.lista-competicoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.competicao{
    display: grid;
    grid-template-columns: 30px 1fr 150px 110px;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 1px solid #00000076;
    font-size: 22px;
    cursor: pointer;
}

.competicao:hover{
    background-color: #D2003C;
    color: white;
    border-radius: 10px;
}

.competicao.selecionada{
    background-color: #D2003C;
    color: white;
    border-radius: 10px;
}

.competicao.selecionada span{
    color: white;
}

/* ---------------- BOTÃO ---------------- */

button{
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #D2003C;
    color: white;
    font-size: 28px;
    margin-top: 50px;
    margin-left: auto;
    display: block;
    cursor: pointer;
}

button:hover{
    background-color: #b10033;
}